{% extends 'app/base.html' %}

{% block title %}Lista de Planes de Entrenamiento - My Fitlife{% endblock %}

{% block content %}
<div class="espacio bg-primary-emphasis  py-3 m-  text-center"></div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center">Listado de Planes de Entrenamiento</h2>
            <ul class="list-group">
                {% for plan_entreno in planes_entrenamiento %}
                    <li class="list-group-item">
                        {{ plan_entreno.Objetivo }}
                        <div class="float-end">
                            <a href="{% url 'plan_entreno_edit' pk=plan_entreno.pk %}" class="btn btn-sm btn-dark me-1">Editar</a>
                            <a href="{% url 'plan_entreno_delete' pk=plan_entreno.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="espacio bg-primary-emphasis  py-5 m-  text-center"></div>
{% endblock %}