{% extends 'app/base.html' %}

{% block title %}Registro - My Fitlife{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Registro</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-dark btn-block mt-4">Registrarse</button>
                        <a href="{% url 'login'%}" class="btn btn-dark btn-block mt-4">Iniciar Sesion</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="espacio bg-primary-emphasis  py-3 m-  text-center"></div>
{% endblock %}